@model EF.Core.Models.Part;

<style>
    .editModal {
        background-color: lightblue;
    }
</style>

<div class="modal fade" id="editPart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header editModal">
                <h4 class="modal-title" id="editPartLabel">
                    Edit Part
                </h4>            

                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>


            <div class="modal-body">
                
                <div id="floater"></div>
                <div id="opStatus"></div>
                <p></p>

                
                <form action="Part/Edit">
                    @Html.AntiForgeryToken()
                    <div class="form-group">

                        @Html.HiddenFor(model => model.PartId)

                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name"
                               id="Name"
                               name="Name"
                               class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Desc" class="control-label"></label>
                        <input asp-for="Desc"
                               id="Desc"
                               name="Desc"
                               class="form-control" />
                        <span asp-validation-for="Desc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Qty" class="control-label"></label>
                        <input asp-for="Qty"
                               id="Qty"
                               name="Qty"
                               class="form-control" />
                        <span asp-validation-for="Qty" class="text-danger"></span>
                    </div>
                </form>
            </div>


            <div class="modal-footer">
                <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button">Cancel</button>
                <button class="btn btn-primary"
                        data-save="modal"
                        type="button">
                    Edit Part
                </button>
            </div>
        </div>
    </div>
</div>













