@model EF.Core.Models.Part

@{
    ViewData["Title"] = "New - Part";
}


<div class="container">
    <h2>New Part</h2>
</div>
<div class="container">
    <div id="floater">
    </div>
    <div id="opStatus"></div>
</div>

<hr />
<div class="row">
    <div class="col-md-6">
        <div class="container">

            <form id="partCreateForm"
                  name="partCreateForm"
                  asp-action="Create">

                @Html.AntiForgeryToken()

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name"
                           id="Name"
                           name="Name"
                           placeholder="part - ?"
                           class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Desc" class="control-label"></label>
                    <input asp-for="Desc"
                           id="Desc"
                           name="Desc"
                           placeholder="desc - ?"
                           class="form-control" />
                    <span asp-validation-for="Desc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary createPart">
                        Create New Part
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>





@section Scripts {

    <script src="~/js/createPart_.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

