@{
    ViewData["Title"] = "Part - Home Page";
}
<div class="text-center">
    <h1 class="display-4">Parts</h1>
</div>
<div>
    <a asp-action="Create">Create - Part</a>
</div>



<div id="PlaceHolderHere"></div>
<button type="button" 
        class="btn btn-primary" 
        data-toggle="ajax-modal" 
        data-target="#editPart" 
        data-url="@Url.Action("Edit")">
    Edit Part
</button>


<hr />
<p></p>
<table id="partTable" class="table table-sm table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Part Id</th>
            <th>Name</th>
            <th>Desc</th>
            <th>Customer Order #</th>
            <th>Work Order #</th>
        </tr>
    </thead>
</table>


@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            $('#partTable').DataTable({
                processing: true,
                ordering: true,
                paging: true,
                searching: true,
                ajax: "Part/GetAllParts",
                columns: [
                    { "data": "partId" },
                    { "data": "name" },
                    { "data": "desc" },
                    { "data": "customerOrderId" },
                    { "data": "workOrderId" },
                ]
            });



            var PlaceHolderElement = $('#PlaceHolderHere');
            $('button[data-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');

                $.get(url).done(function (data) {

                    console.log(data);

                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                });
            });



            PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr('action');
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (data) {
                    console.log(data);
                    // PlaceHolderElement.find('.modal').modal('hide');
                });
            });

        });
    </script>

    
}
