@{
    ViewData["Title"] = "Part - Home Page";
}
<div class="text-center">
    <h1 class="display-4">Parts</h1>
</div>
<div>
    <a asp-action="Create">Create - Part</a>
</div>

<!-- this will open modal dialog -->
<p></p>
<a class="btn btn-primary popup" 
   data-url="Part/Edit?id=1" 
   data-toggle="modal" 
   data-target="#modal-edit-part" 
   id="PartModel">
    Edit Part 
</a>
<!-- partial view, which holds content from mvc action Part/Edit
    ,,, which returns content as partial view _Edit.cshtml -->
<partial name="_Modal" />


<hr />
<p></p>
<table id="partTable" class="table table-sm table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Part Id</th>
            <th>Name</th>
            <th>Desc</th>
            <th>Customer Order #</th>
            <th>Work Order #</th>
        </tr>
    </thead>
</table>


@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            $('#partTable').DataTable({
                processing: true,
                ordering: true,
                paging: true,
                searching: true,
                ajax: "Part/GetAllParts",
                columns: [
                    { "data": "partId" },
                    { "data": "name" },
                    { "data": "desc" },
                    { "data": "customerOrderId" },
                    { "data": "workOrderId" },
                ]
            });



        });
    </script>

    <script src="~/js/_editPart.js" asp-append-version="true"></script>
}
