@{
    ViewData["Title"] = "Part - Home Page";
}
<h2>Parts</h2>
<div>
    <a asp-action="Create">Create - Part</a>
</div>
<hr />
<p></p>
<table id="example" class="table table-sm table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Part Id</th>
            <th>Name</th>
            <th>Desc</th>
        </tr>
    </thead>
</table>