@{
    ViewData["Title"] = "Part - Home Page";
}

<div class="text-center">
    <h3 class="display-6">Parts</h3>
</div>
<div>
    <a asp-action="Create">Create - Part</a>
</div>


<!-- this will hold partial view (modal) -->
<div id="PlaceHolderHere"></div>

<hr />
<p></p>
<table id="partTable" class="table table-sm table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>QTY</th>
            <th>Name</th>
            <th>Desc</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>


@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            var errorCode = 0;

            $('#floater').hide();

            var table = $('#partTable').DataTable({
                processing: true,
                ordering: true,
                paging: true,
                searching: true,
                ajax: "Part/GetAllParts",
                columns: [
                    { "data": "partId", "width": "10%" },
                    { "data": "qty", "width": "5%" },
                    { "data": "name" },
                    { "data": "desc", "width": "40%" },                    {
                        "data": null, "defaultContent": "<button id='btnPartEdit' class='btn btn-primary'>Edit</button><span>|</span><button id='btnPartDelete' class='btn btn-danger'>Delete</button>"
                    },
                ]
            });

            // edit
            // this will open modal and display data to modal window
            // do get-edit and display data to modal window
            var PlaceHolderElement = $('#PlaceHolderHere');
            $('#partTable tbody').on('click', '[id*=btnPartEdit]', function () {
                var data = table.row($(this).parents('tr')).data();
                console.log(data);
                var partId = data.partId;
                console.log(partId);
                var url = 'Part\\Edit\\' + partId;
                $.get(url).done(function (data) {
                    // console.log(data);
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                });
            });
                       
            // delete
            // this will open modal and display data to modal window
            // do get-delete and display data to modal window
            $('#partTable tbody').on('click', '[id*=btnPartDelete]', function () {
                var data = table.row($(this).parents('tr')).data();
                console.log(data);
                var partId = data.partId;
                console.log(partId);
                var url = 'Part\\GetPartForDelete\\' + partId;
                $.get(url).done(function (data) {
                    // console.log(data);
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                });
            });
           
            // this will do post-edit-delete in modal
            PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr('action');
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (response) {
                    console.log(response);
                    console.log(response.result.statusCode);
                    console.log(response.result.message);
                    var mErrors = '';
                    if (response.result.statusCode == 0) {
                        errorCode = 0;
                        bkTimer(response.result);
                        resetUI();
                    }
                    else if (response.result.statusCode == -1) {
                        errorCode = -1;
                        bkTimer(response.result);
                        resetUI();
                    }
                    else if (response.result.statusCode == 1) {
                        errorCode = 1;
                        // model error
                        mErrors += '<font color="red">';
                        mErrors += response.result.message;
                        mErrors += "<ul>";
                        $.each(response.result.modelErrors, function (key, value) {
                            mErrors += "<li>" + value + "</li>";
                        });
                        mErrors += "</ul></font>";
                    }
                    else {
                        bkTimer(response.result);
                        resetUI();
                    }
                    $('#opStatus').html(mErrors);
                });
            });

            // success / dal error
            function bkTimer(result) {
                var div = $("#floater");
                var content = '';
                if (result.statusCode == 0) {
                    content += '<img src="../Images/success.png" style = "width:50px;height:50px;" /> ';
                    content += '<font color="green">' + result.message + '</font>';
                }
                else if (result.statusCode == -1) {
                    content += '<img src="../Images/error.png" style = "width:50px;height:50px;" /> ';
                    content += '<font color="red">' + result.message + '</font>';
                }
                else {
                    content += '<img src="../Images/error.png" style = "width:50px;height:50px;" /> ';
                    content += '<font color="red">' + result.Message + '</font>';
                }
                div.html(content);
                div.fadeIn("slow");

                if (errorCode == 0) {
                    console.log('error code = 0');
                    div.queue(function () {
                        setTimeout(function () {
                            div.dequeue();

                            // this will hide modal
                            PlaceHolderElement.find('.modal').modal('hide');

                            // this will refresh whole page after success-edit-delete
                            // window.location.reload(true);
                            // this will just refresh(ajax-call) datatable
                            // after success-edit-delete
                            table.ajax.reload();

                        }, 3000);
                    });
                    div.fadeOut("fast");
                }              
            };
            function resetUI() {
                $('#Name').val('');
                $('#Desc').val('');
                $('#Qty').val('');
            };
        });
    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}