.oprBody {
    background-color: lightgoldenrodyellow;
    color: black;
    font-size: small;
    font-weight: bold;
    border-top: 2px solid black;
    padding-top: 10px;
    padding-bottom: 15px;
}