@{
    ViewData["Title"] = "Work Order - Home Page";
}

<style>
    .notStarted{
        color : red;
    }
    .startRunning {
        color: blue;
    }
    .completed {
        color: green;
    }
    .cantComplete {
        color: brown;
    }
    .titleSpan {
        background-color: lightgoldenrodyellow;
        color: red;
    }
</style>


<div class="text-center">
    <h3 class="display-6"><span class="titleSpan"><u>Work Orders</u></span> --&gt;&gt; [Operations]</h3>
</div>
<div>
    <a asp-action="Create">Create - [Work Order]</a>
</div>

<!-- this will hold partial view (modal) -->
<div id="PlaceHolderHere"></div>

<hr />
<p></p>
<table id="workOrdersTable"
       class="table table-sm table-bordered table-striped"
       style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer</th>
            <th>WO Start Date</th>
            <th>WO End Date</th>
            <th>WO Status</th>
            <th>Status Note</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            var errorCode = 0;

            var PlaceHolderElement = $('#PlaceHolderHere');

            function getWOStatus(wos) {
                if (wos === 0)
                    return '<span class="notStarted">Not Started</span>';
                if (wos === 1)
                    return '<span class="startRunning">Start-Running</span>';               
                if (wos === 2)
                    return '<span class="completed">Completed</span>';
                if (wos === 3)
                    return '<span class="cantComplete">Can Not Complete</span>';
            }

            var table = $('#workOrdersTable').DataTable({
                processing: true,
                ordering: true,
                paging: true,
                searching: true,
                ajax: "WorkOrder/GetAllWorkOrders",
                columns: [
                    { "data": "workOrderId" },
                    {
                        "data": "null", render: function (data, type, row) {//data
                            return "<button type='button' id='btnCODetails' class='btn btn-link'>"+row.customer+"</a>";
                        }
                    },
                    {
                        "data": "workOrderStartDate", render: function (data, type, row) {//data

                            if (row.workOrderStartDate == null) {
                                return 'N/A';
                            } else {
                                return moment(row.workOrderStartDate).format('DD MMM, YYYY');
                            }
                        }
                    },
                    {
                        "data": "workOrderEndDate", render: function (data, type, row) {//data

                            if (row.workOrderEndDate == null) {
                                return 'N/A';
                            } else {
                                return moment(row.workOrderEndDate).format('DD MMM, YYYY');
                            }
                        }
                    },
                    {
                        "data": "workOrderStatus", render: function (data, type, row) {//data
                            return getWOStatus(row.workOrderStatus)
                        }
                    },
                    { "data": "statusNote", "width": "15%" },
                    {
                        "data": null, "width": "25%", "defaultContent": "<button id='btnWOEdit' class='btn btn-primary'>Edit</button><span>|</span><button id='btnWODelete' class='btn btn-danger'>Delete</button><span>|</span><button id='btnOperations' class='btn btn-success'>Operations</button>"
                    },
                ],
            });

            // redirect to wo-operation page
            // get
            $('#workOrdersTable tbody').on('click', '[id*=btnOperations]', function () {
                var data = table.row($(this).parents('tr')).data();
                console.log(data);
                var workOrderId = data.workOrderId;
                console.log(workOrderId);
                var url = 'Operation\\Index\\' + workOrderId;

                window.location.href = url;

                /*
                $.get(url).done(function (data) {
                    console.log(data);
                });
                */
            });


            // get
            $('#workOrdersTable tbody').on('click', '[id*=btnCODetails]', function () {
                var data = table.row($(this).parents('tr')).data();
                console.log(data);
                var customerOrderId = data.customerOrderId;
                console.log(customerOrderId);
                var url = 'WorkOrder\\GetCustomerOrderDetails\\' + customerOrderId;
                $.get(url).done(function (data) {
                    // console.log(data);
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                });
            });

            // edit
            // get
            var PlaceHolderElement = $('#PlaceHolderHere');
            $('#workOrdersTable tbody').on('click', '[id*=btnWOEdit]', function () {
                var data = table.row($(this).parents('tr')).data();
                console.log(data);
                var workOrderId = data.workOrderId;
                console.log(workOrderId);
                var url = 'WorkOrder\\Edit\\' + workOrderId;
                $.get(url).done(function (data) {
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                });
            });

            // edit - delete
            // post
            PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr('action');
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (response) {
                    console.log(response);
                    console.log(response.result.statusCode);
                    console.log(response.result.message);
                    var mErrors = '';
                    if (response.result.statusCode == 0) {
                        errorCode = 0;
                        bkTimer(response.result);
                        resetUI();
                    }
                    else if (response.result.statusCode == -1) {
                        errorCode = -1;
                        bkTimer(response.result);
                        // resetUI();
                    }
                    else if (response.result.statusCode == 1) {
                        errorCode = 1;
                        // model error
                        mErrors += '<font color="red">';
                        mErrors += response.result.message;
                        mErrors += "<ul>";
                        $.each(response.result.modelErrors, function (key, value) {
                            mErrors += "<li>" + value + "</li>";
                        });
                        mErrors += "</ul></font>";
                    }
                    else {
                        bkTimer(response.result);
                        resetUI();
                    }
                    $('#opStatus').html(mErrors);
                });
            });

            // delete
            // get
            $('#workOrdersTable tbody').on('click', '[id*=btnWODelete]', function () {
                var data = table.row($(this).parents('tr')).data();
                console.log(data);
                var workOrderId = data.workOrderId;
                console.log(workOrderId);
                var url = 'WorkOrder\\GetWorkOrderForDelete\\' + workOrderId;
                $.get(url).done(function (data) {
                    // console.log(data);
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                });
            });

            // success / dal error
            function bkTimer(result) {
                var div = $("#floater");
                var content = '';
                if (result.statusCode == 0) {
                    content += '<img src="../Images/success.png" style = "width:50px;height:50px;" /> ';
                    content += '<font color="green">' + result.message + '</font>';
                }
                else if (result.statusCode == -1) {
                    content += '<img src="../Images/error.png" style = "width:50px;height:50px;" /> ';
                    content += '<font color="red">' + result.message + '</font>';
                }
                else {
                    content += '<img src="../Images/error.png" style = "width:50px;height:50px;" /> ';
                    content += '<font color="red">' + result.Message + '</font>';
                }
                div.html(content);
                div.fadeIn("slow");

                if (errorCode == 0) {
                    div.queue(function () {
                        setTimeout(function () {
                            div.dequeue();

                            PlaceHolderElement.find('.modal').modal('hide');

                            table.ajax.reload();

                        }, 3000);
                    });
                    div.fadeOut("fast");
                }
            };
            function resetUI() {
                $('#WorkOrderStartDate').val('');
                $('#WorkOrderStatus').val(0);
                $('#StatusNote').val('');
            };

        });
    </script>
}