<div class="container">
    <div class="mainHeader">Operation-Log</div>
    <hr />


    <div class="row">
        <div class="col-md-10 mx-auto">
            <div *ngIf="opLog" class="subHeader">
                Operation # {{opId}}
                <br />
                Operation Number # {{localDataService.getOperationNumber(opLog.operationNumber)}}
                <br />
                Work-Order # {{opLog.workOrderId}}
            </div>

            <div *ngIf="apiError">
                <div class="apiError">{{apiError}}</div>
            </div>
        </div>
        <div class="col-md-2 mx-auto">
            <button type="button" (click)="goBack()" class="btn btn-primary cancelBtn">
                <i class="bi bi-arrow-return-left"></i> Back
            </button>
        </div>

    </div>

    <p></p>
    <div *ngIf="(opLog && opLog.operationHistory?.length>0); else noOps">
        <div class="operationHeader">
            Operation-Log-Data
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Operator</th>
                    <th>Start Time</th>
                    <th>Pause Time</th>
                    <th>Cycle Time</th>
                    <th>QTY-Done</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let op of opLog.operationHistory  | paginate
                                                : {
                                                    itemsPerPage: tableSize,
                                                    currentPage: page,
                                                    totalItems: count
                                                };
                                                let i = index
                                            ">              
                    <td>{{op.operatorName}} [{{op.operatorId}}]</td>
                    <td>{{op.opStartRunTime | date: "dd-MMM, hh:mm a" }}</td>
                    <td>{{op.opPauseRunTime | date: "dd-MMM, hh:mm a" }}</td>
                    <td>{{op.cycleTime}}</td>
                    <td>{{op.qtyDone}}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
    </div>
    <ng-template #noOps>
        <div class="noOps">
            No Operation-History!
        </div>        
    </ng-template>
</div>
