.adminHeader{
    color: red;   
    font-size: large; 
    margin-right: 50px;
}
.operatorHeader{
    color : blue;
    font-size: large;
    margin-right: 50px;
}

.adminUser{
    font-size: large;
    color: red;
    margin-right: 20px;
    margin-top: 6px;
}
.operatorUser {
    font-size: large;
    color: blue;
    margin-right: 20px;
    margin-top: 6px;
}