<nav class="navbar navbar-expand-xl navbar-light bg-warning">   
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <b>WorkOrder-Tracking</b>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ngx-navbar-collapse id="navbarSupportedContent">
            <b>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class='nav-link' aria-current="page" 
                            [routerLink]="['/home']">
                            Home
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" 
                            [routerLink]="['/department']">Department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                            [routerLink]="['/faculty']">Faculty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                            [routerLink]="['/course']">Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                            [routerLink]="['/assignment']">Assignment</a>
                    </li>                    
                </ul>
            </b>
        </ngx-navbar-collapse>

        <ngx-navbar-collapse id="navbarSupportedContent">
            <b>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" >
                        <a class='nav-link' 
                            [routerLink]="['/signin']">Login
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class='nav-link' 
                            [routerLink]="['/registration']">Register
                        </a>
                    </li>                 
                </ul>
            </b>
        </ngx-navbar-collapse>
    </div>
</nav>