@{
    ViewData["Title"] = "Customer Order - Home Page";
}

<style>
    .titleSpan {
        background-color: lightgoldenrodyellow;
        color: red;
    }   
</style>

<div class="text-center">
    <h3 class="display-6"><span class="titleSpan"><u>Customer Orders</u></span></h3>
</div>
<div>
    <a asp-action="Create">Create - [Customer Order]</a>
</div>


<!-- this will hold partial view (modal) -->
<div id="PlaceHolderHere"></div>

<hr />
<p></p>
<table id="customerOrdersTable"
       class="table table-sm table-bordered table-striped"
       style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Product</th>
            <th>QTY</th>
            <th>Order Date</th>
            <th>Due Date</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            var errorCode = 0;

            $('#floater').hide();

            var table = $('#customerOrdersTable').DataTable({
                processing: true,
                ordering: true,
                paging: true,
                searching: true,
                ajax: "CustomerOrder/GetAllCustomerOrders",
                columns: [
                    { "data": "customerOrderId" },
                    { "data": "customerName" },
                    { "data": "productName" },
                    { "data": "orderQuantity" },
                    {
                        "data": "orderDate", render: function (data, type, row) {//data
                            return moment(row.orderDate).format('DD MMM, YYYY');
                        }
                    },
                    {
                        "data": "orderDueDate", render: function (data, type, row) {//data
                            return moment(row.orderDueDate).format('DD MMM, YYYY');
                        }
                    },
                    {
                        "data": null, "defaultContent": "<button id='btnCOEdit' class='btn btn-primary'><i class='fa fa-edit fa-lg' aria-hidden='true'></i></button><span>&nbsp;</span><button id='btnCODelete' class='btn btn-danger'><i class='fa fa-trash fa-lg'></i></button><span>&nbsp;</span><button id='btnCOProgress' class='btn btn-success'><i class='fa fa-spinner fa-lg'></i> Order</button>"
                    },
                ],
            });

            // customer order progress
            // get   
            /*
            $('#customerOrdersTable tbody').on('click', '[id*=btnCOProgress]', function () {
                var data = table.row($(this).parents('tr')).data();
                console.log(data);
                var customerOrderId = data.customerOrderId;
                console.log(customerOrderId);
            
                
                var url = 'CustomerOrder\\GetCustomerOrderProgress\\' + customerOrderId;
                $.get(url).done(function (data) {
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                });
            });
            */

            // edit
            // get
            var PlaceHolderElement = $('#PlaceHolderHere');
            $('#customerOrdersTable tbody').on('click', '[id*=btnCOEdit]', function () {
                var data = table.row($(this).parents('tr')).data();
                console.log(data);
                var customerOrderId = data.customerOrderId;
                console.log(customerOrderId);
                var url = 'CustomerOrder\\Edit\\' + customerOrderId;
                $.get(url).done(function (data) {
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                });
            });

            // delete
            // get
            $('#customerOrdersTable tbody').on('click', '[id*=btnCODelete]', function () {
                var data = table.row($(this).parents('tr')).data();
                console.log(data);
                var customerOrderId = data.customerOrderId;
                console.log(customerOrderId);
                var url = 'CustomerOrder\\GetCustomerOrderForDelete\\' + customerOrderId;
                $.get(url).done(function (data) {
                    // console.log(data);
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                });
            });

            // edit - delete
            // post
            PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr('action');
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (response) {
                    console.log(response);
                    console.log(response.result.statusCode);
                    console.log(response.result.message);
                    var mErrors = '';
                    if (response.result.statusCode == 0) {
                        errorCode = 0;
                        bkTimer(response.result);
                        resetUI();
                    }
                    else if (response.result.statusCode == -1) {
                        errorCode = -1;
                        bkTimer(response.result);
                        // resetUI();
                    }
                    else if (response.result.statusCode == 1) {
                        errorCode = 1;
                        // model error
                        mErrors += '<font color="red">';
                        mErrors += response.result.message;
                        mErrors += "<ul>";
                        $.each(response.result.modelErrors, function (key, value) {
                            mErrors += "<li>" + value + "</li>";
                        });
                        mErrors += "</ul></font>";
                    }
                    else {
                        bkTimer(response.result);
                        resetUI();
                    }
                    $('#opStatus').html(mErrors);
                });
            });

            // success / dal error
            function bkTimer(result) {
                var div = $("#floater");
                var content = '';
                if (result.statusCode == 0) {
                    content += '<img src="../Images/success.png" style = "width:50px;height:50px;" /> ';
                    content += '<font color="green">' + result.message + '</font>';
                }
                else if (result.statusCode == -1) {
                    content += '<img src="../Images/error.png" style = "width:50px;height:50px;" /> ';
                    content += '<font color="red">' + result.message + '</font>';
                }
                else {
                    content += '<img src="../Images/error.png" style = "width:50px;height:50px;" /> ';
                    content += '<font color="red">' + result.Message + '</font>';
                }
                div.html(content);
                div.fadeIn("slow");

                if (errorCode == 0) {
                    div.queue(function () {
                        setTimeout(function () {
                            div.dequeue();

                            PlaceHolderElement.find('.modal').modal('hide');

                            table.ajax.reload();

                        }, 3000);
                    });
                    div.fadeOut("fast");
                }
            };
            function resetUI() {
                $('#CustomerName').val('');
                $('#ProductName').val('');
                $('#ProductDesc').val('');
                $('#OrderQuantity').val('');
                $('#OrderDate').val('');
                $('#OrderDueDate').val('');
            };

            // customer order v/s operations progress
            $('#customerOrdersTable tbody').on('click', '[id*=btnCOProgress]', function () {

                var data = table.row($(this).parents('tr')).data();
                console.log(data);
                var customerOrderId = data.customerOrderId;
                console.log(customerOrderId);

                var url = '@Url.Action("GetCustomerOrderProgress", "CustomerOrder")' + '\\' + customerOrderId;
                window.location.href = url;

            });

        });
    </script>
}