.mainHeader{
    text-align: center;
    color: darkolivegreen;
    font-size: xx-large;
    font-weight: bold;
}

.opBody {
    background-color: lightgoldenrodyellow;
    color: black;
    font-size: small;
    font-weight: bold;
    padding-bottom: 20px;
}
.noContent{
    color: red;
    font-size: x-large;
}

.opCompleted {
    color: green;
    text-shadow: 1px 1px 1px #ccc;
}
.opNotCompleted {
    color: red;
    text-shadow: 1px 1px 1px #ccc;
}

