.mainContainer {
    padding: 50px;
}

.uploadSuccess{
    color : green;
    font-size: large;
}
.uploadError {
    color: red;
    font-size: large;
}

.noImage{
    color: red;
    font-size: xx-large;
}
.withImage{
    color: green;
    font-size: xx-large;
}