@using EF.Core.Models;
@model EF.Core.Models.WorkOrder;

<style>
    .editModal {
        background-color: lightblue;
    }
</style>

<div class="modal fade" id="editWO">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header editModal">
                <h4 class="modal-title" id="editWOLabel">
                    Edit Work Order
                </h4>

                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>


            <div class="modal-body">

                <div id="floater"></div>
                <div id="opStatus"></div>
                <p></p>

                <div class="row">
                    <div class="col-md-12">
                        <form action="WorkOrder/Edit">
                            @Html.AntiForgeryToken()

                            <div asp-validation-summary="ModelOnly"
                                 class="text-danger">
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    @Html.HiddenFor(model => model.WorkOrderId)
                                    @Html.HiddenFor(model => model.CustomerOrderId)
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="WorkOrderStartDate" class="control-label"></label>
                                        <input asp-for="WorkOrderStartDate"
                                               class="form-control"
                                               name="WorkOrderStartDate"
                                               id="WorkOrderStartDate" />
                                        <span asp-validation-for="WorkOrderStartDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="WorkOrderStatus" class="control-label"></label>
                                        <select asp-for="WorkOrderStatus"
                                                class="form-control"
                                                asp-items="Html.GetEnumSelectList<WorkOrderStatus>()"></select>
                                        <span asp-validation-for="WorkOrderStatus" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="StatusNote" class="control-label"></label>
                                        <textarea asp-for="StatusNote"
                                                  class="form-control"
                                                  name="StatusNote"
                                                  id="StatusNote">
                                        </textarea>
                                        <span asp-validation-for="StatusNote" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">                               
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal"
                        id="cancel"
                        class="btn btn-default"
                        type="button">
                    Cancel
                </button>
                <button class="btn btn-primary"
                        data-save="modal"
                        type="button">
                    Edit Work Order
                </button>
            </div>
        </div>
    </div>
</div>













