@model EF.Core.Models.WorkOrder

@{
    ViewData["Title"] = "New - Work Order";
}

<div class="container">
    <h2>New Work Order</h2>
</div>
<div class="container">
    <div id="floater">
    </div>
    <div id="opStatus"></div>
</div>

<hr />
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <div class="container">
            <form id="woCreateForm"
                  name="woCreateForm"
                  asp-action="Create">

                @Html.AntiForgeryToken()
                
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label class="control-label">Customer Order</label>
                @Html.DropDownList("CustomerOrders", (IEnumerable
                            <SelectListItem>)ViewBag.CustomerOrders, "--Select--", new { @id="CustomerOrders" })



                <p></p>
                <div class="form-group text-center">
                    <button type="button" class="btn btn-primary createWO">
                        Create New Work Order
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-3">
    </div>
</div>
<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {

    <script src="~/js/createWorkOrder_.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}


