@model EF.Core.Models.CustomerOrder

@{
    ViewData["Title"] = "New - Customer Order";
}

<div class="container">
    <h2>New Customer Order</h2>
</div>
<div class="container">
    <div id="floater">
    </div>
    <div id="opStatus"></div>
</div>

<hr />
<div class="row">

    <div class="col-md-12">
        <form name="customerOrderCreateForm" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-1">
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="CustomerName" class="control-label"></label>
                        <input asp-for="CustomerName"
                               id="CustomerName"
                               name="CustomerName"
                               placeholder="customer name - ?"
                               class="form-control" />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductName" class="control-label">Product Name</label>
                        <input asp-for="ProductName"
                               id="ProductName"
                               name="ProductName"
                               placeholder="product name - ?"
                               class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductDesc" class="control-label">Product Desc</label>
                        <input asp-for="ProductDesc"
                               id="ProductDesc"
                               name="ProductDesc"
                               placeholder="product desc - ?"
                               class="form-control" />
                        <span asp-validation-for="ProductDesc" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="OrderQuantity" class="control-label"></label>
                        <input asp-for="OrderQuantity"
                               id="OrderQuantity"
                               name="OrderQuantity"
                               placeholder="order qty - ?"
                               class="form-control" />
                        <span asp-validation-for="OrderQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderDate" class="control-label"></label>
                        <input asp-for="OrderDate"
                               class="form-control"
                               name="OrderDate"
                               id="OrderDate" />
                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderDueDate" class="control-label"></label>
                        <input asp-for="OrderDueDate"
                               class="form-control"
                               name="OrderDueDate"
                               id="OrderDueDate" />
                        @*
                            <input type="text"
                                class="form-control"
                                name="OrderDueDate"
                                id="OrderDueDate" />
                        *@
                        <span asp-validation-for="OrderDueDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-1">
                </div>
            </div>

            <p></p>
            <div class="form-group text-center">
                <button type="button" class="btn btn-primary createCustomerOrder">
                    Create New Customer Order
                </button>
            </div>
        </form>
    </div>
</div>
<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            // jQuery date picker
            // $("#OrderDate").datepicker();
            // $("#OrderDueDate").datepicker();

            $('#floater').hide();

            $('.createCustomerOrder').click(function () {

                var orderDate = $('#OrderDate').val();
                if (checkDate(orderDate))
                    console.log('order date OK!');
                else
                    console.log('enter order date!');


                
                var ajaxPage = "/CustomerOrder/Create";
                $.ajax({
                    type: "POST",
                    url: ajaxPage,
                    data: JSON.stringify({
                        customerName: $('#CustomerName').val(),
                        productName: $('#ProductName').val(),
                        productDesc: $('#ProductDesc').val(),
                        orderQuantity: parseInt($('#OrderQuantity').val()),
                        orderDate: $('#OrderDate').val(),
                        orderDueDate: $('#OrderDueDate').val(),
                    }),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        console.log(response.result.statusCode);
                        console.log(response.result.message);

                        var mErrors = '';
                        if (response.result.statusCode == 0) {
                            bkTimer(response.result);
                            resetUI();
                        }
                        else if (response.result.statusCode == -1) {
                            bkTimer(response.result);
                            resetUI();
                        }
                        else if (response.result.statusCode == 1) {
                            // model error
                            mErrors += '<font color="red">';
                            mErrors += response.result.message;
                            mErrors += "<ul>";
                            $.each(response.result.modelErrors, function (key, value) {
                                mErrors += "<li>" + value + "</li>";
                            });
                            mErrors += "</ul></font>";
                        }
                        else {
                            bkTimer(response.result);
                            resetUI();
                        }
                        $('#opStatus').html(mErrors);
                    },
                    error: function (obj) {
                        alert("Ajax Call Error");
                    },
                });
            });

            // success / dal error
            function bkTimer(result) {
                var div = $("#floater");
                var content = '';
                if (result.statusCode == 0) {
                    content += '<img src="../Images/success.png" style = "width:50px;height:50px;" /> ';
                    content += '<font color="green">' + result.message + '</font>';
                }
                else if (result.statusCode == -1) {
                    content += '<img src="../Images/error.png" style = "width:50px;height:50px;" /> ';
                    content += '<font color="red">' + result.message + '</font>';
                }
                else {
                    content += '<img src="../Images/error.png" style = "width:50px;height:50px;" /> ';
                    content += '<font color="red">' + result.Message + '</font>';
                }
                div.html(content);
                div.fadeIn("slow");
                div.queue(function () {
                    setTimeout(function () {
                        div.dequeue();
                    }, 3000);
                });
                div.fadeOut("fast");
            };

            function resetUI() {
                $('#CustomerName').val('');
                $('#ProductName').val('');
                $('#ProductDesc').val('');
                $('#OrderQuantity').val('');
                $('#OrderDate').val('');
                $('#OrderDueDate').val('');
            };

            function checkDate(myDate) {
                if (myDate == '')
                    // console.log('enter order date!');
                    return false;
                else
                    // console.log(myDate);
                    return true;
            }
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
