@{
    ViewData["Title"] = "Customer Order - Home Page";
}

<div class="text-center">
    <h1 class="display-4">Customer Orders</h1>
</div>
<div>
    <a asp-action="Create">Create - [Customer Order]</a>
</div>
<hr />
<p></p>
