.mainHeader{
    text-align: center;
    color: darkolivegreen;
    font-size: xx-large;
    font-weight: bold;

}
.noParts{
    text-align: center;
    color: red;
    font-size: xx-large;
    font-weight: bold;
}