.mainHeader{
    text-align: center;
    color: darkolivegreen;
    font-size: xx-large;
    font-weight: bold;

}
.noParts{
    text-align: center;
    color: red;
    font-size: xx-large;
    font-weight: bold;
}

.noImage{
    color : red;
}

.qtyColumn{
    width: 100px;
    color: green;
    font-weight: bold;
}