.mainContainer {
    padding: 50px;
}

.opCreateSuccess {
    color: green;
    font-size: medium;
    font-weight: bold;
}

.opCreateError {
    color: red;
    font-size: medium;
    font-weight: bold;
}

.modelError {
    color: red;
    font-size: medium;
    font-weight: bold;
    margin-top: 30px;
}

.opQtyData {
    color: blue;
    font-weight: bold;
}

.qtyField {
    width: 150px;
}

.timeError{
    color: red;
    font-weight: bold;
}