@model EF.Core.Models.Part;

@{
    ViewData["Title"] = "Part-File Upload - Home Page";
}

<style>
    .titleSpan {
        background-color: lightgoldenrodyellow;
        color: red;
    }

    .messageDiv {
        color: green;
        font-weight: bold;
    }

    .errorDiv {
        color: red;
        font-weight: bold;
    }

    .partData {
        color: blue;
        font-size: small;
        border: 2px solid red;
        padding: 5px;
        width: 400px;
    }
</style>

<div class="text-center">
    <h3 class="display-6"><span class="titleSpan"><u>Part - File Upload</u></span></h3>
</div>
<div>
    <a asp-action="Index">Back To Part List</a>
</div>

<hr />
<p></p>


<div class="text-left partData">
    Part # @Model.PartId
    <br />
    Name : @Model.Name
    <br />
    Desc : @Model.Desc
</div>
<p></p>

<div class="container fullPagePostBack">
    <!-- full page post back -->
    <form method="post"
          enctype="multipart/form-data"
          asp-controller="Part" asp-action="PartFileUpload_Post">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>
</div>


<!-- jQuery Ajax call to MVC post action,,, returns Json result-->
<div class="container">
    <form id="fileUploadForm"
          method="post"
          enctype="multipart/form-data"
          asp-controller="Part" asp-action="PartFileUpload_Post_Json">
        Upload file:
        <input type="file" id="uploadFile" name="uploadFile" />
        <input type="submit" value="Upload" />

        <div class="apiResponse">
            <br />
            <div class="messageDiv"></div>
            <br />
            <div class="errorDiv"></div>
            <br />
            File Name: <strong><span class="fileNameSpan"></span></strong>
            <br />
            File Size: <strong><span class="fileSizeSpan"></span></strong>
        </div>
        <span id="@Model.PartId" class="partIdClass"></span>
    </form>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            $('.fullPagePostBack').hide();
            $('.apiResponse').hide();

            $("#fileUploadForm").submit(function (e) {
                e.preventDefault();

                $('.apiResponse').show();

                var partId = $('.partIdClass').attr("id");
                console.log(partId);

                var data = new FormData();
                data.append("formFile", $("#uploadFile")[0].files[0]);
                data.append("partId", partId);

                $.ajax({
                    type: 'post',
                    url: "/Part/PartFileUpload_Post_Json",
                    data: data,
                    processData: false,
                    contentType: false
                }).done(function (result) {

                    $('#uploadFile').val('');

                    if (result.status === "success") {
                        $(".messageDiv").html(result.message);
                        $(".fileNameSpan").html(result.fileName);
                        $(".fileSizeSpan").html(result.fileSize);
                        $(".errorDiv").html('');
                    }
                    else {
                        $(".errorDiv").html(result.message);
                        $(".messageDiv").html('');
                        $(".fileNameSpan").html('N/A');
                        $(".fileSizeSpan").html('N/A');
                    }
                });
            });
        });
    </script>
}
