<div class="container">

    <div class="mainHeader">Work-Orders [Operations]</div>
    <hr />
    <p></p>

    <div class="row">
        <div class="col-md-3 mx-auto">
            <button type="button" (click)="createOp()" class="btn btn-success">
                Create New Operation
            </button>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="subHeaderOp">
                Work-Order # {{woId}}
                <br />
                Operations
            </div>
        </div>
        <div class="col-md-3 mx-auto"></div>
    </div>
    <p></p>

    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="ops?.length>0; else noOps" 
                        class="container">
                        <p></p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Details</th>
                                    <th>Status</th>
                                    <th>Start Date</th>
                                    <th>QTY-Done</th>
                                    <th>QTY-Required</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let op of ops  | paginate
                                        : {
                                            itemsPerPage: tableSize,
                                            currentPage: page,
                                            totalItems: count
                                        };
                                        let i = index
                                    ">
                                    <th scope="row">{{ op.operationId }}</th>
                                    <td>
                                        <span *ngIf="op.details!=null && op.details.length>10; else fullDesc">
                                            {{op.details.substring(0,10)}}...
                                        </span>
                                        <ng-template #fullDesc>
                                            {{op.details}}
                                        </ng-template>
                                    </td>
                                    <td>{{ op.operationStatus }}</td>                                   
                                    <td>
                                        {{ op.operationStartDate | date: "dd-MMM,yyyy" }}
                                    </td>
                                    <td>{{ op.opQTYDone}}</td>
                                    <td>{{ op.opQTYRequired}}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-1">
                                                <button type="button" 
                                                    (click)="editOp(op)" class="btn btn-primary">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col-1">
                                                <button type="button" 
                                                    (click)="removeOp(op)" class="btn btn-danger">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </div>                                          
                                            <div class="col-8"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center">
                            <pagination-controls previousLabel="Prev" nextLabel="Next"
                                (pageChange)="onTableDataChange($event)">
                            </pagination-controls>
                        </div>
                    </div>
                    <ng-template #noOps>
                        <div class="container">
                            <span class="noOps">
                                Operations Not Found !
                            </span>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>