<div class="container">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header componentHeader">
                <h4>
                    <div>
                        #{{partId}}) Part - Remove
                    </div>
                </h4>
                <h5 *ngIf="apiResponse">
                    <span [style.color]="responseColor">
                        {{apiResponse}}
                    </span>
                </h5>
            </div>
            
            <!-- *ngIf="!apiResponse" -->
            <div *ngIf="part" class="card-body">
                <div  class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="labelColor">Name :</span> {{part.name}}
                            <p></p>
                            <span class="labelColor">Desc :</span>
                            <br />
                            {{part.desc}}
                            <p></p>
                            <span class="labelColor">Qty Available :</span> {{part.qty}}
                        </div>
                        <div class="col-sm-6">
                            <span *ngIf="part.partFile!=null; else noImage">
                                <img 
                                    width="150" 
                                    height="100" 
                                    [src]="part.partFile" />
                            </span>
                            <ng-template #noImage>
                                <span class="noImage">
                                    Image Not Available !
                                </span>
                            </ng-template>
                        </div>
                    </div>     
                    
                    <p></p>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" 
                                (click)="removePart(part)" 
                                class="btn btn-danger">
                                Remove Part
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" 
                                (click)="cancelRemovePart()" 
                                class="btn btn-primary cancelBtn">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>