<div class="container">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="card">
                <div class="card-header componentHeader">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                <div>
                                    Create New Operation
                                </div>
                            </h4>
                            <h5 *ngIf="apiResponse">
                                <p></p>
                                <span [style.color]="responseColor">
                                    {{apiResponse}}
                                </span>
                            </h5>
                            <h5 *ngIf="modelErrors.length > 0">
                                <ul [style.color]="responseColor">
                                    <li *ngFor="let error of modelErrors">
                                        {{ error }}
                                    </li>
                                </ul>
                            </h5>
                        </div>
                        <div class="col-md-4 ">
                            <button 
                                type="button" 
                                (click)="goBack()" 
                                class="btn btn-primary cancelBtn">
                                <i class="bi bi-arrow-return-left"></i> Back
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form 
                        class="form-op" 
                        [formGroup]="opForm" 
                        (ngSubmit)="onSubmit()">

                        <div class="form-group">
                            <label>Operation</label>
                            <select class="form-control" 
                                formControlName="OperationNumber">
                                <option value="">Choose Operation</option>
                                <option value={{op.value}} *ngFor="let op of operationNumberCollection">
                                    {{op.opNumber}}
                                </option>
                            </select>
                            <div class="alert alert-danger mt-2"
                                *ngIf="(opFormControl.OperationNumber.touched || submitted) && opFormControl.OperationNumber.errors?.required">
                                Operation is required
                            </div>
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label>Operation-Status</label>
                            <select class="form-control" 
                                formControlName="OperationStatus">
                                <option value="">Choose Operation-Status</option>
                                <option value={{op.value}} *ngFor="let op of operationStatusCollection">
                                    {{op.opStatus}}
                                </option>
                            </select>
                            <div class="alert alert-danger mt-2"
                                *ngIf="(opFormControl.OperationStatus.touched || submitted) && opFormControl.OperationStatus.errors?.required">
                                Operation-Status is required
                            </div>
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label>Operation Start Date</label>
                            <div class="input-group dateField">
                                <input type="date" 
                                    class="form-control"
                                    name="operationStartDate" 
                                    formControlName="OperationStartDate"
                                    ngbDatepicker #d="ngbDatepicker">
                            </div>
                        </div>
                        <p></p>


                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-5">
                                    <button type="submit" 
                                        class="btn btn-success">
                                        New Operation
                                    </button>
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4 ">
                                    <button type="button" 
                                        (click)="resetOp()" class="btn btn-primary cancelBtn">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>