.mainHeader{
    text-align: center;
    color: darkolivegreen;
    font-size: xx-large;
    font-weight: bold;
}
.coBody{
    background-color: lightskyblue;
    color: white;
    font-size: large;
}


