<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header componentHeader">
                    <h4>
                        <div>
                            Create New Customer-Order
                        </div>
                    </h4>
                    <h5 *ngIf="apiResponse">
                        <p></p>
                        <span [style.color]="responseColor">
                            {{apiResponse}}
                        </span>
                    </h5>
                </div>

                <div class="card-body">
                    <form class="form-co" 
                        [formGroup]="coForm" 
                        (ngSubmit)="onSubmit()">

                        <div class="row">
                            <div class="col-md-1 mx-auto"></div>
                            <div class="col-md-5 mx-auto">
                                <div class="form-group">
                                    <label>Customer Name</label>
                                    <input type="text" class="form-control " formControlName="CustomerName" />
                                    <div class="alert alert-danger mt-2"
                                        *ngIf="(coFormControl.CustomerName.touched || submitted) && coFormControl.CustomerName.errors?.required">
                                        Customer Name is required
                                    </div>
                                </div>
                                <p></p>
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input type="text" class="form-control " formControlName="ProductName" />
                                    <div class="alert alert-danger mt-2"
                                        *ngIf="(coFormControl.ProductName.touched || submitted) && coFormControl.ProductName.errors?.required">
                                        Product Name is required
                                    </div>
                                </div>
                                <p></p>
                                <div class="form-group">
                                    <label>Product Desc</label>
                                    <textarea type="text" 
                                        class="form-control" 
                                        formControlName="ProductDesc">
                                    </textarea>
                                </div>
                            </div>
                            <div class="col-md-1 mx-auto"></div>
                            <div class="col-md-5 mx-auto">
                                <div class="form-group">
                                    <label>Order Qty</label>
                                    <input type="text" 
                                        (ngModelChange)="checkForNumbersOnly($event)" 
                                        class="form-control qtyField"
                                        formControlName="OrderQuantity" />
                                    <div class="alert alert-danger mt-2"
                                        *ngIf="(coFormControl.OrderQuantity.touched || submitted) && coFormControl.OrderQuantity.errors?.required">
                                        Order Qty is required
                                    </div>
                                    <div class="alert alert-danger mt-2"
                                        *ngIf="(coFormControl.OrderQuantity.touched || submitted) && coFormControl.OrderQuantity.errors?.pattern">
                                        Only Numbers are allowed
                                    </div>                                
                                </div>
                                <p></p>
                                <div class="form-group">
                                    <div class="input-group dateField">
                                        <input                                         
                                            class="form-control" 
                                            placeholder="Order-Date yyyy-mm-dd" 
                                            name="orderDate" 
                                            formControlName="OrderDate"
                                            ngbDatepicker
                                            #d="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button 
                                                class="btn btn-outline-secondary calendar" 
                                                (click)="d.toggle()" 
                                                type="button">
                                                <i class="bi-calendar-date"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger mt-2"
                                        *ngIf="(coFormControl.OrderDate.touched || submitted) && coFormControl.OrderDate.errors?.required">
                                        Order Date is required
                                    </div>                                   
                                </div>
                                <p></p>
                                <div class="form-group">
                                    <div class="input-group dateField">
                                        <input class="form-control" 
                                            
                                            placeholder="Order-Due-Date yyyy-mm-dd" 
                                            name="orderDueDate" 
                                            formControlName="OrderDueDate"
                                            ngbDatepicker #dd="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="dd.toggle()" type="button">
                                                <i class="bi-calendar-date"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger mt-2"
                                        *ngIf="(coFormControl.OrderDueDate.touched || submitted) && coFormControl.OrderDueDate.errors?.required">
                                        Order Due Date is required
                                    </div>
                                </div>

                            </div>                            
                        </div>

                 
                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-5">
                                    <button type="submit" 
                                        class="btn btn-success">
                                        New Customer-Order
                                    </button>
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4 ">
                                    <button type="button" 
                                        (click)="resetCo()" 
                                        class="btn btn-primary cancelBtn">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>