.mainContainer {
    padding: 50px;
}

.apiError {
    color: red;
    font-size: xx-large;
    font-weight: bold;
}

.noData {
    color: blue;
    font-size: xx-large;
    font-weight: bold;
}

.apiSuccess {
    color: green;
}

.formControlError{
    font-weight: bold;
    color: red;
}

.displayOptions{
    width:300px;
    color: blueviolet;
}