.mainContainer {
    padding: 50px;
}
.loginSuccess { 
    color: green;
    font-size: large;
}
.loginError { 
    color : red;
    font-size: large;
}
.modelError {
    color: red;
    font-size: medium;
    font-weight: bold;
    margin-top: 30px;
}