.mainHeader{
    text-align: center;
    color: darkolivegreen;
    font-size: xx-large;
    font-weight: bold;

}
.noCos{
    text-align: center;
    color: red;
    font-size: xx-large;
    font-weight: bold;
}

.coIdCol{
    width: 50px;
}

