<div class="container">
    <div class="col-md-7 mx-auto">
        <div class="card">
            <div class="card-header componentHeader">
                <h4>
                    <div>
                        Edit - Work-Order # {{woId}}
                        <p></p>
                        Customer-Order # {{coId}}
                    </div>
                </h4>
                <h5 *ngIf="apiResponse">
                    <span [style.color]="responseColor">
                        {{apiResponse}}
                    </span>
                </h5>
                <h5 *ngIf="modelErrors.length > 0">
                    <ul [style.color]="responseColor">
                        <li *ngFor="let error of modelErrors">
                            {{ error }}
                        </li>
                    </ul>
                </h5>
            </div>
            <div class="card-body">
                <form class="form-wo" [formGroup]="woForm" (ngSubmit)="onSubmit()">

                    <div class="row">
                        <div class="col-md-1 mx-auto"></div>
                        <div class="col-md-10 mx-auto">
                            <div class="form-group">
                                <label>Work-Order Status</label>
                                <select class="form-control" formControlName="WorkOrderStatus">
                                    <option value="">Choose Work-Order Status</option>
                                    <option value={{wo.value}} *ngFor="let wo of workOrderStatusCollection">
                                        {{wo.woStatus}}
                                    </option>
                                </select>
                                <div class="alert alert-danger mt-2"
                                    *ngIf="(woFormControl.WorkOrderStatus.touched || submitted) && woFormControl.WorkOrderStatus.errors?.required">
                                    Work-Order Status is required
                                </div>
                            </div>
                            <p></p>
                            <div class="form-group">
                                <label>Work-Order Start Date</label>
                                <div class="input-group dateField">
                                    <input 
                                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" 
                                        formControlName="WorkOrderStartDate"
                                        type="text" 
                                        placeholder="Work-Order Start Date" 
                                        class="form-control" 
                                        bsDatepicker>
                                </div>
                            </div>
                            <p></p>
                            <div class="form-group">
                                <label>Status Note</label>
                                <textarea type="text" class="form-control" formControlName="StatusNote">
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-1 mx-auto"></div>
                    </div>


                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-success">
                                    Edit Work-Order
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" (click)="resetWo()" class="btn btn-primary cancelBtn">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>