<!--Modal-->
<div aria-hidden="true" 
     aria-labelledby="modal-edit-part-label" 
     role="dialog" 
     tabindex="-1" 
     id="modal-edit-part" class="modal fade">
    <div class="modal-dialog">
    </div>
</div> 