<div class="container">
    
    <div class="mainHeader">Parts</div>
    <hr />
    <p></p>
    <div>
        <button type="button" (click)="createPart()" class="btn btn-success">
            Create New Part
        </button>
    </div>
    <p></p>  
   
    
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">             
                <div class="card-body">  
                    <div
                        *ngIf="parts?.length>0; else noParts"
                        class="container">

                        <div class="form-group">
                            <input type="text" 
                                class="searchControl form-control" 
                                placeholder="Search Part" [(ngModel)]="term">
                        </div>
                        <p></p>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Desc</th>
                                    <th>Qty</th>
                                    <th>File</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of parts  | filter:term | paginate
                                        : {
                                            itemsPerPage: tableSize,
                                            currentPage: page,
                                            totalItems: count
                                        };
                                        let i = index
                                    ">
                                    <th scope="row">{{ p.partId }}</th>
                                    <td>{{ p.name }}</td>
                                    <td>
                                        <span *ngIf="p.desc!=null && p.desc.length>10; else fullDesc">
                                            {{p.desc.substring(0,10)}}...
                                        </span>
                                        <ng-template #fullDesc>
                                            {{p.desc}}
                                        </ng-template>
                                    </td>
                                    <td>{{ p.qty }}</td>
                                    <td>
                                        <span *ngIf="p.partFile!='N/A'; else noImage">
                                            <img width="35" height="35" [src]="p.partFilePath" alt="N/A" />
                                        </span>
                                        <ng-template #noImage>
                                            N/A
                                        </ng-template>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-1">
                                                <button type="button" (click)="editPart(p)" class="btn btn-primary">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col-1">
                                                <button type="button" (click)="removePart(p)" class="btn btn-danger">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col-1">
                                                <button type="button" (click)="uploadPart(p)" class="btn btn-success">
                                                    <i class='bi bi-upload'></i>
                                                </button>
                        
                                            </div>
                                            <div class="col-6"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center">
                            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                            </pagination-controls>
                        </div>
                    </div>
                    <ng-template #noParts>
                        <div class="container">
                            <span class="noParts">
                                Parts Not Found !
                            </span>                            
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>