.mainHeader {
    text-align: center;
    color: darkolivegreen;
    font-size: xx-large;
    font-weight: bold;
    margin-top: -40px;
}

.componentHeader {
    background-color: lightyellow;
}

.noParts {
    color : red;
    font-size: x-large;
}

.errorResponse { 
    color : red;
}

.successResponse {
    color: green;
}

.searchControl {
    width: 300px;
}

