<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header componentHeader">
                    <div class="row">
                        <div class="col-md-10">
                            <h4>
                                <div>
                                    Create Operator - Log
                                </div>
                            </h4>                          
                            <h5 *ngIf="apiResponse">
                                <p></p>
                                <span [style.color]="responseColor">
                                    {{apiResponse}}
                                </span>
                            </h5>
                            <h5 *ngIf="modelErrors.length > 0">
                                <ul [style.color]="responseColor">
                                    <li *ngFor="let error of modelErrors">
                                        {{ error }}
                                    </li>
                                </ul>
                            </h5>
                        </div>
                        <div class="col-md-2 ">
                            <button type="button" 
                                (click)="goBack()" 
                                class="btn btn-primary cancelBtn">
                                <i class="bi bi-arrow-return-left"></i> 
                                Back
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form class="form-oprLog" 
                        [formGroup]="oprLogForm" 
                        (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Work-Order</label>
                                    <select 
                                        class="form-control" 
                                        (change)="getOperationList($event)"
                                        formControlName="WorkOrderId">
                                        <option value="">Choose Work-Order</option>
                                        <option value={{wo.value}} *ngFor="let wo of workOrders">
                                            {{wo.text}}
                                        </option>
                                    </select>
                                    <div class="alert alert-danger mt-2"
                                        *ngIf="(oprLogFormControl.WorkOrderId.touched || submitted) && oprLogFormControl.WorkOrderId.errors?.required">
                                        Work-Order is required
                                    </div>
                                </div>   
                                <p></p>                    
                                <div class="form-group">
                                    <label>Operation</label>
                                    <br />
                                    <span class="opQtyData" *ngIf="opQtyData">{{opQtyData}}</span>                                    
                                    <select class="form-control" 
                                        (change)="getOpQtyData($event)"
                                        formControlName="OperationId">
                                        <option value="">Choose Operation</option>
                                        <option value={{op.value}} *ngFor="let op of operations">
                                            {{op.text}}
                                        </option>
                                    </select>
                                    <div class="alert alert-danger mt-2"
                                        *ngIf="(oprLogFormControl.OperationId.touched || submitted) && oprLogFormControl.OperationId.errors?.required">
                                        Operation is required
                                    </div>
                                </div>
                                <p></p>
                                <div class="form-group">
                                    <label>Operation-Status</label>
                                    <select 
                                        (change)="setVisibility($event)"
                                        class="form-control" 
                                        formControlName="OperationStatus">
                                        <option value="">Choose Operation-Status</option>
                                        <option value={{op.value}} *ngFor="let op of operationStatusCollection">
                                            {{op.opStatus}}
                                        </option>
                                    </select>
                                    <div class="alert alert-danger mt-2"
                                        *ngIf="(oprLogFormControl.OperationStatus.touched || submitted) && oprLogFormControl.OperationStatus.errors?.required">
                                        Operation-Status is required
                                    </div>
                                </div>
                                <p></p>
                                <div class="form-group">
                                    <label>Qty-Done</label>
                                    <br />
                                    <span class="runTimeCheckError">{{qtyDoneError}}</span>
                                    <input type="text" 
                                        class="form-control qtyField" 
                                        formControlName="OpQtyDone" />
                                    <div class="alert alert-danger mt-2"
                                        *ngIf="(oprLogFormControl.OpQtyDone.touched || submitted) && oprLogFormControl.OpQtyDone.errors?.pattern">
                                        Only Numbers are allowed
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 "></div>
                            <div class="col-md-5 ">  
                                <div class="form-group">
                                    <label>[Start] Run Time</label>
                                    <br />
                                    <span class="runTimeCheckError">{{startRunTimeError}}</span>
                                    <div class="input-group">
                                        <input 
                                            [attr.disabled]="true"
                                            [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" 
                                            formControlName="OpStartRunTime" 
                                            type="text"
                                            placeholder="Start Run Time" 
                                            class="form-control" 
                                            bsDatepicker>    
                                        <!-- 
                                        <select class="form-control" formControlName="StartRunTimeHr">
                                            <option value="">Hr</option>
                                            <option value={{h.value}} *ngFor="let h of hours">
                                                {{h.value}}
                                            </option>
                                        </select>
                                        &nbsp;
                                        <select class="form-control" formControlName="StartRunTimeMin">
                                            <option value="">Min</option>
                                            <option value={{m.value}} *ngFor="let m of minutes">
                                                {{m.value}}
                                            </option>
                                        </select>  
                                        -->
                                    </div> 
                                    <div class="input-group">
                                        <ngb-timepicker 
                                            formControlName="OpStartRunTime1" 
                                            [(ngModel)]="timeStartRunTime" 
                                            [meridian]="meridian">
                                        </ngb-timepicker>
                                        <!-- 
                                        <hr>
                                        <pre>Selected time: {{timeStartRunTime | json}}</pre>
                                        -->
                                    </div>
                                </div>
                                <p></p>
                                <div                                 
                                    class="form-group">
                                    <label>[Pause] Run Time</label>
                                    <br />
                                    <span class="runTimeCheckError">{{pauseRunTimeError}}</span>
                                    <div class="input-group">
                                        <input 
                                            [attr.disabled]="true"
                                            [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" 
                                            formControlName="OpPauseRunTime"
                                            type="text" 
                                            placeholder="Pause Run Time" 
                                            class="form-control" 
                                            bsDatepicker>                                    
                                    </div>
                                    <div class="input-group">
                                        <ngb-timepicker    
                                            class="form-control"                                  
                                            formControlName="OpPauseRunTime1" 
                                            [(ngModel)]="timePauseRunTime" 
                                            [meridian]="meridian">
                                        </ngb-timepicker>                                       
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-5">
                                    <button type="submit" 
                                        class="btn btn-success">
                                        Create New Operator Log
                                    </button>
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4 ">
                                    <button type="button" 
                                        (click)="resetOprLog()" 
                                        class="btn btn-primary cancelBtn">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>