.componentHeader {
    background-color: lightblue;
}

.qtyField {
    width: 150px;
}

.dateField {
    width: 300px;
}

.cancelBtn {
    float: right;
}
.opQtyData{
    color: blue;
    font-weight: bold;
}

.runTimeCheckError{
    color: red;
    font-weight: bold;
}
