.xferSuccess {
    color: green;
    font-size: large;
}

.xferError {
    color: red;
    font-size: large;
}

.modelError {
    color: red;
    font-size: medium;
    font-weight: bold;
    margin-top: 30px;
}

.componentHeader {
    background-color: lightyellow;
}

.otherXferData {
    background-color: lightcyan;
    color: rgb(224, 9, 9);
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.qtyField {
    width: 150px;
}

.cancelBtn {
    float: right;
}