<div class="modal-header">
    <h4 class="modal-title">Parts XFER History</h4>
</div>
<div class="modal-body">
    <div *ngIf="!apiError; else showApiError" class="card">
        <div class="card-header historyHeader">
            <div>
                Operation # {{partHistoryData.operationId}}
                <br />
                Operation Number #&nbsp;
                {{localDataService.getOperationNumber(partHistoryData.operationNumber)}}
                <br />
                Work-Order # {{partHistoryData.workOrderId}}
                <p></p>
            </div>
        </div>
        <div class="card-body">
            <div *ngIf="partList?.length>0; else noHistoryData" 
                class="historyData">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Part #</th>
                            <th>Name</th>
                            <th>XFER-QTY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of partList | paginate
                                                        : {
                                                            itemsPerPage: tableSize,
                                                            currentPage: page,
                                                            totalItems: count
                                                        };
                                                        let i = index
                                                    ">
                            <th scope="row">{{ d.partId }}</th>
                            <td>{{d.partName}}</td>
                            <td>{{d.xferqty}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                </div>


            </div>
            <ng-template #noHistoryData>
                <div class="noHistory">
                    No Parts XFER History!
                </div>
            </ng-template>
        </div>
    </div>
    <ng-template #showApiError>
        <div class="apiErrorHistoryData">
            {{apiError}}
        </div>
    </ng-template>
  
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Close</button>
</div>