@{
    ViewData["Title"] = "[Work Order - Operation] Home Page";
}

<style>
   
</style>


<div class="text-center">
    <h1 class="display-4">[Work Order - Operations]</h1>
</div>
<div>
    <a asp-action="Create">Create - [Work Order - Operation]</a>
</div>

<!-- this will hold partial view (modal) -->
<div id="PlaceHolderHere"></div>

<hr />
<p></p>
<table id="workOrderOperatiosTable"
       class="table table-sm table-bordered table-striped"
       style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Operation No</th>
            <th>WO #</th>
            <th>Details</th>
            <th>Operation Status</th>
            <th>Operation Start Date</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            var PlaceHolderElement = $('#PlaceHolderHere');


            var table = $('#workOrderOperationsTable').DataTable({
                processing: true,
                ordering: true,
                paging: true,
                searching: true,
                ajax: "Operation/GetAllWorkOrderOperations",
                columns: [
                    { "data": "operationId" },
                    { "data": "operationNumber" },
                    { "data": "workOrderId" },
                    { "data": "details" },
                    { "data": "operationStatus" },
                    {
                        "data": "operationStartDate", render: function (data, type, row) {//data

                            if (row.operationStartDate == null) {
                                return 'No - Date';
                            } else {
                                return moment(row.operationStartDate).format('DD MMM, YYYY');
                            }
                        }
                    },
                ],
            });
         
        });
    </script>
}