@{
    ViewData["Title"] = "Home Page";
}

<style>
    .header{
        color: forestgreen;
        font-size : large;
        padding-bottom : 10px;        
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center header"><b>Login</b></div>
                <div class="panel-body">
                    <ul>
                        <li>
                            Authenticated User can Login with System
                        </li>
                        <li>
                            After Successful Authentication,,, Token, User, Role and other informations are returned to client and saved in browser's session
                        </li>
                        <li>
                            As per User's Role,,, User is redirected in either [Admin] Area or [Operator] Area
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center header"><b>Register</b></div>
                <div class="panel-body">
                    <ul>
                        <li>
                            User can Register either as Admin or Operator Role
                        </li>
                        <li>
                            After Successful Registration,,, as per User's Role,,, User is redirected in either [Admin] Area or [Operator] Area
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center header"><b>Parts [Role: Admin]</b></div>
                <div class="panel-body">
                    <ul>
                        <li>
                            View - Filter List of Parts (jQuery DataTable)
                        </li>
                        <li>
                            Add / Edit / Delete - Part
                        </li>
                        <li>
                            Add / Edit - Part Image
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center header"><b>Customer-Orders [Role: Admin]</b></div>
                <div class="panel-body">
                    <ul>
                        <li>
                            View - Filter List of Customer Orders (jQuery DataTable)
                        </li>
                        <li>
                            Add / Edit / Delete - Customer Order
                        </li>
                        <li>
                            View Customer Order Progress Report Data
                            <ul>
                                <li>
                                    View Customer Order v/s Operations Progress Chart (google chart api)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center header"><b>Work-Orders [Role: Admin]</b></div>
                <div class="panel-body">
                    <ul>
                        <li>
                            View - Filter List of Work Orders (jQuery DataTable)
                        </li>
                        <li>
                            Add / Edit / Delete - Work Order
                        </li>
                        <li>
                            View Customer Order Details
                        </li>
                        <li>
                            View List of Operations Connected with Work Order
                            <br />
                            <span class="text-center header">
                                Work Order --&gt; Operations
                            </span>                            
                            <br />
                            <ul>
                                <li>
                                    Create New Operation for Work Order
                                </li>
                                <li>
                                    Edit Operation for Work Order
                                </li>
                                <li>
                                    Transfer Parts for Operation
                                </li>
                                <li>
                                    View History of Parts Transfer for Operation
                                </li>
                                <li>
                                    View Operation Log <br />
                                    [Operator, Start-Time, Pause-Time, Cycle-Time, Qty-Done]
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center header"><b>Operator Log [Role: Operator]</b></div>
                <div class="panel-body">
                    <ul>
                        <li>
                            Create Operator Log 
                        </li>
                        <li>
                            View Today's Activity Log
                        </li>
                        <li>
                            View Current Week's Activity Log
                        </li>
                        <li>
                            View Current Month's Activity Log
                        </li>
                        <li>
                            View Previous Month's Activity Log
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
